[submodule "sourcemod_plugins/SourceIRC"]
	path = sourcemod_plugins/SourceIRC
	url = https://github.com/Azelphur/SourceIRC.git
[submodule "sourcemod_plugins/SourcePunish"]
	path = sourcemod_plugins/SourcePunish
	url = https://github.com/Krenair/SourcePunish.git
[submodule "sourcemod_plugins/TF2-Premium"]
	path = sourcemod_plugins/TF2-Premium
	url = https://github.com/Azelphur/TF2-Premium.git
[submodule "sourcemod_plugins/SprayManager"]
	path = sourcemod_plugins/SprayManager
	url = https://github.com/MonsterKiller/SprayManager.git
